<%= link_to 'Back', :back %>

<div id="teamShowHeader">
    <img src="<%= @team.logo %>" alt="Smiley face" height="6%" width="6%">
    <div id="showTeamName"><%=  @team.name %></div>
</div><br>


<%= render 'verticalnavbar' %>


